#generalInfo{
	display: block;
}

#test,#bug,#offcha,#note,#question,#nextTime{
	display:none;
}

body{
	
	width: 300px;
	background-position: 30% 20%;
}

ul
{
    list-style-type: none;
}

#setup-icon,#test-icon, #bug-icon, #off-charter-icon, #note-icon, #question-icon, #next-time-icon
{
	display: inline;
}

.circle-icon{
	background: gray;
	  padding:8px;
    border-radius: 50%;
}

#setup:active ~ #setup-icon{
	color:red;
}