#generalInfo{
	display: block;
}

#test,#bug,#offcha,#note,#question,#nextTime{
	display:none;
}

body{
	
	
	background-position: 30% 20%;
}

#session{

	width: 700px;
	height: 80px;
}

ul
{
    list-style-type: none;
}

#setup-icon,#test-icon, #bug-icon, #off-charter-icon, #note-icon, #question-icon, #next-time-icon
{
	display: inline;
}

input[type=text]
{
height: 30px;
/*width: 300px;*/
}

.target
{
height: 30px;
width: 600px;

}

.circle-icon{
	background: transparent;
	padding:8px;
    border-radius: 50%;
}

#setup:active ~ #setup-icon{
	color:red;
}


 /*#input-setup:focus::-webkit-input-placeholder {
    color: red;
}*/
