#generalInfo{
	display: block;
}

#test,#bug,#offcha,#note,#question,#nextTime{
	display:none;
}

body{
	
	width: 300px;
	background-position: 30% 20%;
}

ul
{
    list-style-type: none;
}
